html {
    font-family: 'Merriweather', serif;
    background: rgb(45, 45, 45);
}

html, body {
    margin: 0;
}


h2 {
    color: red;
}
ul {
    color: silver;
}

.panel {
    padding: 1em;
    margin-bottom: 1em;
}