.worlds {
    display: flex;
}

.world {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.select {
    background: blue;
    padding: .3em .6em;
    font-size: 1.2em;
}