.map-branding {
    position: absolute;
    top: .25em;
    right: 0;
    left: 0;
    text-align: center;
    z-index: 2;
}

.map-branding-logo {
    width: 2.25em;
}

.map-overview {
    margin-top: 1.125em;
    z-index: 1;

    display: flex;
}

.terrain {
    position: relative;
    flex: auto;
}

.sidebar {
    flex: 30% 0;
}

.map {
    width: 100%;
    border: 2px solid black;
    box-sizing: border-box;
}