.map-fullheight {
    height: 100%;
}

.map-branding {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    z-index: 2;
}

.map-branding-logo {
    width: 3.25em;
}

.map-overview {
    display: flex;
    height: 100%;
    z-index: 1;
}

.terrain {
    flex: auto;
    position: relative;
    overflow: hidden;
}

.sidebar {
    flex: 30% 0;
    background: #8b0a0c;
    margin: 0.5em;
    box-sizing: content-box;
    border-radius: 0.5em;
}

.map {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}