.map-fullheight {
    height: 100%;
    margin: 0;
}

.map-window {
    background: #1e1e1e;
}

.map-branding {
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 2;
}

.map-branding-logo {
    width: 4em;
}

.map-overview {
    height: 100%;
    z-index: 1;
}

.terrain {
    position: relative;
    overflow: hidden;

    width: 100%;
    height: 100%;
}

.sidebar {
    flex: 30% 0;
    background: #8b0a0c;
    margin: 0.5em;
    box-sizing: content-box;
    border-radius: 0.5em;
    border: 0.25em solid #c7c7c7;
    border-bottom-width: 0.5em;
}

.map-viewport {
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    will-change: top, left;
}

.map-wrapper {
    height: 100%;
}

.crosshair {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1em;
    height: 1em;
    text-align: center;
    font-size: 2em;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.chunk {
    display: flex;
    position: absolute;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    flex-wrap: wrap;
}

.tile {
    flex: 6.66% 0 0;
    cursor: pointer;

    opacity: 0;
    transition: opacity .2s, color .2s;
    opacity: 1;
}

.tile:hover {
    opacity: 0.75;
    color: white;
}