#page-wrapper { display: flex; flex-direction: column; }
#TESTING { display: none; }

html, body, #__next, #page-wrapper {
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
}

#map-container-wrapper, #map-container, #content-container { 
    display: flex;
    width: 100%;
}

#map-container-wrapper { position: relative; }

#content-container {
    overflow: hidden;
}

#page-header {
    flex-shrink: 0;
}

#content-container {
    flex-grow: 1;
}